{% extends 'navbar.html' %}
{% block content %}

<form method="post" >
  {% csrf_token %}
  <h2 align="center" >Update Book Here</h2>
  <h3 align="center">{{msg}}</h3>
  <table align="center">
    <tr>
      <td>Book Name</td>
      <td><input type="text" name="txtname" value="{{book.Book_Name}}"></td>
    </tr>
    <tr>
      <td>Author Name</td>
      <td><input type="text" name="txtAname" value="{{book.Author_Name}}"></td>
    </tr>
    <tr>
      <td>Course</td>
      <td><select name = "ddlcourse">
        <option selected>{{book.Course}}</option>
        {% for i in courses %}
        <option>{{i.Course_Name}}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Add Book"></td>
    </tr>
  </table>
</form>
{% endblock %}