{% extends 'navbar.html' %}
{% block content %}
<h3 align="center" style="color:green">{{msg}}</h3>
<form method="post">
    {% csrf_token %}

<table  align="center" class="table">
    <tr>
        <td>Student Name</td>
        <td><input type="text" name="txtstdname" value="{{ib.Student_Name}}"></td>
    </tr>
        <tr>
        <td>Book Name</td>
            <td><select name = 'ddlbkname'>
                <option>{{ib.Book_Name}}</option>
                {% for i in books %}
                <option>
                {{i.Book_Name}}
            </option>
                {% endfor %}
            </select></td>
    </tr>
        <tr>
        <td>Start Date</td>
        <td><input type="date" name="startdate"  >
            <input type="text" value="{{ib.Start_Date}}" disabled>
        </td>
    </tr>
        <tr>
        <td>End Date</td>
        <td><input type="date" name="enddate" value="{{ib.End_Date}}" >
        <input type="text" value="{{ib.End_Date}}" disabled></td>
    </tr>
        <tr>
        <td></td>
        <td><input type="submit"  value="Update"></td>
    </tr>
</table>
</form>
{% endblock%}